{{>partial/header}}

<article class="post" itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline">关于</h2>
  <div class="post-content" itemprop="articleBody">
    <h2>关于站长（lujjjh）</h2>
    <p>我的网名是<h-hws hidden=""> </h-hws>lujjjh<h-hws hidden=""> </h-hws>，发音未知，魔都人。</p>
    <p>用着<h-hws hidden=""> </h-hws>macOS<h-hws hidden=""> </h-hws>和<h-hws hidden=""> </h-hws>iOS<h-hws hidden=""> </h-hws>的软粉，程序语言爱好者。</p>
    <p>目前在饿了么工作。作为前端开发工程师，认真写着<del>前端</del>后端。</p>

    <h2>关于站点</h2>
    <p>如果对本站感兴趣，可以在<h-hws hidden=""> </h-hws><a href="https://github.com/lujjjh/codehut.me" target="_blank">GitHub</a><h-hws hidden=""> </h-hws>查看本站的源代码。</p>

    <h2>友情链接</h2>
    <ul>
      <li><a href="https://codesky.me" target="_blank" rel="noopener">CodeSky 代码之空</a></li>
    </ul>

    <p>如想申请友情链接，可以<a href="https://github.com/lujjjh/codehut.me/edit/master/views/about.mustache" target="_blank">在 GitHub 上编辑</a>该页面，或者<a href="/contact">联系我</a>。
  </div>
</article>

{{>partial/footer}}
