{{>partial/header}}

<article class="post" itemtype="http://schema.org/BlogPosting">
  <h2 class="post-title" itemprop="name headline">联系我（lujjjh）</h2>
  <div class="post-content" itemprop="articleBody">
    <p>如果对本站或者本站的文章有疑问，欢迎使用<h-hws hidden=""> </h-hws>Email<h-hws hidden=""> </h-hws>与我交流：</p>
    <blockquote><a href="mailto:i@codehut.me">i@codehut.me</a></blockquote>
  </div>
</article>

{{>partial/footer}}
