{{>partial/header}}

{{#posts}}
{{>partial/post}}
<hr>
{{/posts}}

<div class="pagination">
  {{#prev}}
    <a class="pagination-prev" href="{{{url}}}">上一页</a>
  {{/prev}}

  {{#next}}
    <a class="pagination-next" href="{{{url}}}">下一页</a>
  {{/next}}
</div>

{{>partial/footer}}
