{{>partial/header}}

{{#posts}}
  <div class="post">
    <div class="post-title">
      <a href="{{url}}">{{title}}</a>
    </div>
    <div class="post-date"><time datetime="{{datetime}}">{{date}}</time></div>
  </div>
{{/posts}}

<div class="pagination">
  {{#prev}}
    <a class="pagination-prev" href="{{url}}">上一页</a>
  {{/prev}}

  {{#next}}
    <a class="pagination-next" href="{{url}}">下一页</a>
  {{/next}}
</div>

{{>partial/footer}}
