{{>partial/header}}

<div class="post-title">{{title}}</div>
<div class="post-date"><time datetime="{{datetime}}">{{date}}</time></div>
<div class="post-content">{{{content}}}</div>

{{>partial/footer}}
