  <footer>
    <span>2014— &copy;</span>
    <ol>
      <li><a href="https://github.com/lujjjh" target="_blank">GitHub</a></li>
      <li><a href="/contact">联系我</a></li>
      <li><a rel="nofollow" href="http://www.miibeian.gov.cn" target="_blank">沪ICP备13033049号-1</a></li>
    </ol>
  </footer>
</body>
</html>
