<!doctype html>
<html lang="zh-Hans-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{#title}}{{title}} | {{/title}}codehut</title>
  <link href="https://cdn.ljh.io/Han/3.3.0/han.min.css" rel="stylesheet">
  <link href="https://cdn.ljh.io/highlight.js/9.12.0/styles/atom-one-light.min.css" rel="stylesheet">
  <link href="{{#asset}}index.css{{/asset}}" rel="stylesheet">
  {{#ga}}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());;

      gtag('config', '{{id}}');

      window.addEventListener('load', sendTiming);

      function sendTiming() {
        if (!('performance' in window)) {
          return;
        }
        gtag('event', 'timing_complete', { name: 'load', value: Math.round(performance.now()) });
        var timing = performance.timing;
        gtag('event', 'timing_complete', { name: 'dns', value: timing.domainLookupEnd - timing.domainLookupStart });
        gtag('event', 'timing_complete', { name: 'connect', value: timing.connectEnd - timing.connectStart });
        gtag('event', 'timing_complete', { name: 'recv', value: timing.domComplete - timing.connectEnd });
      }
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{id}}"></script>
    <!-- End Google Analytics -->
  {{/ga}}
</head>
<body>
  <header>
    <a href="/">codehut</a>
  </header>
