<!doctype html>
<html lang="zh-Hans-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{#title}}{{title}} | {{/title}}codehut</title>
  <link href="https://cdn.ljh.io/Han/3.3.0/han.min.css" rel="stylesheet">
  <link href="https://cdn.ljh.io/highlight.js/9.12.0/styles/atom-one-light.min.css" rel="stylesheet">
  <link href="{{#settings.asset}}index.css{{/settings.asset}}" rel="stylesheet">
  {{#settings.ga}}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());;

      gtag('config', '{{id}}');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{id}}"></script>
    <!-- End Google Analytics -->
  {{/settings.ga}}
</head>
<body>
  <header>
    <a href="/">codehut</a>
  </header>
