body,
html {
  color: #353b40;
  font-family: Arial, Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  color: #353b40;
  text-decoration: none;
}

a:hover {
  color: #000;
}

body {
  margin: 0 auto;
  max-width: 900px;
  min-width: 0;
  padding: 40px;
}

hr {
  border: 0 none;
  border-bottom: 3px solid #1e1e1e;
  width: 100px;
  margin: 50px auto;
  opacity: 0.1;
}

header {
  align-items: baseline;
  display: flex;
  font-size: 36px;
  margin: 0 0 40px;
}

header .logo {
  border-bottom: 3px solid #1e1e1e;
}

nav {
  font-size: 16px;
  font-weight: 500;
}

nav ol {
  list-style-type: none;
  margin: 0 0 0 34px;
  overflow: hidden;
  padding: 0;
}

nav li {
  float: left;
  margin: 0 0 0 28px;
}

nav li a {
  color: #999;
}

nav li a:hover {
  color: #333;
}

footer {
  color: #a2a2a2;
  display: flex;
  margin: 80px 0 0;
}

footer a {
  color: #a2a2a2;
}

footer a:hover {
  color: #353b40;
}

footer ol {
  list-style-type: none;
  overflow: hidden;
  margin: 0 0 0 20px;
  padding: 0;
}

footer li {
  align-items: center;
  display: flex;
  float: left;
}

footer li::after {
  background: currentColor;
  content: " ";
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 14px;
}

footer li:last-child::after {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  line-height: 20px;
  margin-top: 40px;
  overflow: hidden;
}

.pagination-next,
.pagination-prev {
  color: #333;
  font-weight: 600;
  margin: 0 10px;
  padding: 5px;
  text-transform: uppercase;
}

.pagination-next svg,
.pagination-prev svg {
  fill: currentColor;
  height: 14px;
  margin: 0 6px;
  position: relative;
  top: 3px;
  vertical-align: top;
}

.post {
  margin: 20px 0;
  min-height: 60px;
  overflow: hidden;
}

.post-title {
  font-size: 2.4em;
  font-weight: 500;
  line-height: 45px;
  margin: 30px 0 12px;
  word-wrap: break-word;
}

.post-meta {
  color: #c2c2c2;
  font-size: 14px;
  margin: 0 0 10px;
  padding: 0;
}

.post-tags {
  float: left;
  list-style-type: none;
  margin: 0;
}

.post-tags li {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin: 0 5px;
}

.post-tags li a {
  display: inline-block;
  padding: 0 3px;
}

.post-content {
  clear: both;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
  text-align: justify;
}

.post-content::before,
.post-content::after {
  content: "";
  display: table;
}

.post-content::after {
  clear: both;
}

.post-content a {
  color: #349ede;
}

.post-content a:hover {
  color: #60b3e5;
}

.post-content code {
  font-feature-settings: normal;
  font-size: 14px;
  overflow: auto;
  word-break: break-all;
}

.post-content h2 code {
  font-size: inherit;
}

.post-content h2,
.post-content h3,
.post-content h4 {
  font-weight: normal;
}

.post-content h2 {
  font-size: 1.8em;
}

.post-content h3 {
  font-size: 1.6em;
}

.post-content h4 {
  font-size: 1.4em;
}

.post-content p {
  margin: 1.5em 0;
}

.post-content .aligncenter,
.post-content figure img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.post-content figcaption {
  color: #c2c2c2;
  font-size: 14px;
  text-align: center;
}

.footnotes p {
  margin: 0;
}

@media (max-width: 600px) {
  header,
  footer {
    flex-direction: column;
  }

  nav ol {
    margin: 30px 0 0;
  }

  nav li:first-child {
    margin-left: 0;
  }

  footer ol {
    margin: 0.5em 0 0;
  }
}
